name: Package Commits and PRs

on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - uses: oven-sh/setup-bun@v2

      - name: Setup Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Install Dependencies
        run: bun install --frozen-lockfile

      - name: TurboRepo Build
        run: bun turbo build -F "{packages/*}"

      - name: Check Types
        run: bun turbo check-types -F "{packages/*}"

      - name: Lint
        run: bun turbo lint -F "{packages/*}"

      - name: Prepare StackBlitz demo template
        run: |
          rm -rf .pkg-pr-new-demo-template
          cp -R apps/demo .pkg-pr-new-demo-template
          cp tsconfig.base.json .pkg-pr-new-demo-template/tsconfig.base.json
          sed -i 's#\.\./\.\./tsconfig\.base\.json#./tsconfig.base.json#' .pkg-pr-new-demo-template/tsconfig.json

      - run: bunx pkg-pr-new publish 'packages/*' --template '.pkg-pr-new-demo-template'
