name: Release

on:
  push:
    branches:
      - main

  workflow_dispatch:
    inputs:
      tag:
        description: 'The tag to use for the release (e.g., "ci-test" or "canary").'
        type: string
        required: false
        default: ''

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    environment: Production
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - uses: oven-sh/setup-bun@v2

      - name: Setup Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Install Dependencies
        run: bun install --frozen-lockfile

      - name: TurboRepo Build
        run: bun turbo build -F "{packages/*}"

      - name: Check Types
        run: bun turbo check-types -F "{packages/*}"

      - name: Lint
        run: bun turbo lint -F "{packages/*}"

      - name: Set version and publish commands
        id: commands
        run: |
          if [[ -n "${{ github.event.inputs.tag }}" ]]; then
            echo "version_cmd=bun changeset version --snapshot ${{ github.event.inputs.tag }}" >> $GITHUB_OUTPUT
            echo "publish_cmd=bun changeset publish --tag ${{ github.event.inputs.tag }}" >> $GITHUB_OUTPUT
          else
            echo "version_cmd=bun changeset version" >> $GITHUB_OUTPUT
            echo "publish_cmd=bun changeset publish" >> $GITHUB_OUTPUT
          fi

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          version: ${{ steps.commands.outputs.version_cmd }}
          publish: ${{ steps.commands.outputs.publish_cmd }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
